[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"

[packages]
django = "*"
pillow = "*"
django-imagekit = "*"
djangorestframework = "*"
django-crispy-forms = "*"
ipython = "*"

[requires]
python_version = "3.7"
